body{
    background-color: #6fa9e7; 
    margin: 0;
    background-size: 100%;
}
h2{
    color: whitesmoke;
    font-family: 'Sriracha', cursive;
}
.col-4{
    font-family: 'Sriracha', cursive !important;
}
.inputE1-2{
    font-weight:bold;
    text-align: center;
}

.dateE3{
    font-size: 70px;
}
.container{
    margin-left: 10% !important;
}

.chronometer{
    font-family: 'Londrina Shadow', cursive;
    font-size: 4em;
    color: ghostwhite;
    padding: 0 30% 5% 30%;
}
.timerE5{
    width: 100%;
    padding: 0 9% 3% 9%;
    
}
.timerE5 input{
    font-size: 2em;
    margin: 35px;
    font-weight:bold;
    text-align: center;
}

.blue {
    text-shadow: 
        0 0 5px #7BACFF,
        0 0 10px #7BACFF,
        0 0 20px #7BACFF,
        0 0 40px #7BACFF,
        0 0 80px #7BACFF,
        0 0 90px #7BACFF,
        0 0 100px #7BACFF,
        0 0 150px #7BACFF;
}

@media(max-width:900px){
    .buttonTime{
        padding: 10% !important;
    }
    .timerE5{
        width: 100%;
        padding: 0 !important;
        justify-content: space-around !important;
        
    }
    .timerE5 input{
        font-size: 1em;
        margin: 0px !important;
        font-weight:bold;
        text-align: center;
    }
    .clock, .clockDate{
        width: 100% !important;
        margin-right: 0px !important;
        max-width: 90% !important;
    }
    .inputE1-2{
        max-width: 45% !important;
    }
    h2{
        font-size: 1.5em;
    }
}
